<table mat-table [dataSource]="auto" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="idAuto">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element"> {{element.idAuto}} </td>
    </ng-container>
  
    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef> Marca </th>
      <td mat-cell *matCellDef="let element"> {{element.marca.nombreMarca}}  </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="stockAuto">
      <th mat-header-cell *matHeaderCellDef> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stockAuto}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="nombreAuto">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombreAuto}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="precioAuto">
      <th mat-header-cell *matHeaderCellDef> Precio </th>
      <td mat-cell *matCellDef="let element"> {{element.precioAuto}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  