<div class="form-auto">
  <mat-form-field appearance="fill">
    <mat-label>Input</mat-label>
    <input matInput />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Marca</mat-label>
    <mat-select formControlName="marca">
      <mat-option *ngFor="let mar of marca" [value]="mar">
        {{ mar.nombreMarca }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Textarea</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</div>
